<ion-view view-title="Wekuume">

  <ion-tabs class="tabs-positive tabs-icon-top">

    <ion-tab title="Learn" icon="icon ion-home" href="#/home/learn">
      <ion-nav-view name="home-learn"></ion-nav-view>
    </ion-tab>

    <ion-tab title="News" icon="icon ion-list" href="#/home/news">
      <ion-nav-view name="home-news"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Settings" icon="icon ion-gear-b" href="#/home/settings">
      <ion-nav-view name="home-settings"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
</ion-view>
