<ion-view class="welcome-view pane" cache-view="false" nav-view="active" style="opacity: 1; transform: translate3d(0%, 0px, 0px);">
  <ion-content has-bouncing="false" scroll="false">
    <div class="start-container">
      <div class="col title-row text-center">
        <h1>Wekuume</h1>
      </div>
      <div class="col subtitle-row text-center">
        <p>Be safe!</p>
      </div>
      <div class="col images-row text-center">
        <img src="./img/start.svg">
      </div>
      <div class="col description-row text-center">
        <h4 class="">Learn how to protect your digital life!</h4>
      </div>
      <div class="col button-row" text-center>
        <a class="button button-block get-started-button" ui-sref="intro()" href="#/intro">Get Started</a>
      </div>
      <div class="col skip-row" text-center>
        <a class="button button-block button-clear auth-button" ui-sref="home.learn()" href="#/home/learn">Skip this intro?</a>
      </div>
    </div>
  </ion-content>
</ion-view>
