<ion-view view-title="Topics">
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="refreshTopics()">
    </ion-refresher>
    <ion-list>
      <div ng-repeat="topic in topics">
        <ion-item class="item-stable item-icon-right">
          <a class="button button-icon icon ion-android-download" ng-show="(!topic.isLatest)" ng-click="downloadTopic(topic)"></a>
          {{topic.title}}
        </ion-item>
        <ion-item class="item item-icon-right" ng-disabled="(!topic.isDownloaded)" ng-repeat="unit in topic.units" ng-click="openUnit(unit.slug)">
          <i class="icon ion-chevron-right"></i>
          {{unit.title}}
        </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
