<ion-modal-view>
  <ion-content scroll="false">
  <ks-swiper-container speed="2000" loop="false" show-nav-buttons="false" slides-per-view="1" space-between="20" pagination-clickable="true">
    <ks-swiper-slide class="swiper-slide" ng-repeat="card in cards">
      <div class="card-container">
        <div class="card">
          <div class="item">
            {{card.title}}
          </div>
          <div ng-bind-html="card.contents" class="item item-body">
          </div>
        </div>
      </div>
    </ks-swiper-slide>
  </ks-swiper-container>
  </ion-content>
</ion-modal-view>
