/* Empty. Add your own CSS if you like */

/* Topic list styles */
.topic-card .item-icon-left {
  padding-left: 49px;
}

.topic-card .item-icon-right {
  padding-right: 49px;
}

.topic-card .item-icon-right .icon {
  right: 0;
}

.topic-card .item-icon-left .icon {
  left: 0;
}

.topic-card .segment-button-right {
  border-left: 1px solid #ddd;
}
.topic-card .segment-button-right:before {
  font-size: 24px;
}

.item[disabled] {
  color: #aaa;
}

.item[disabled] .icon {
  display: flex;
}

.icon.unit-icon:before {
  font-size: 24px;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .card-container {
  height: 100%;
  padding: 20px 20px;
  overflow: auto;
}

.swiper-slide .card-container .card {
  min-height: 100%;
  margin: 0;
}

/* this is the card body */
.swiper-slide .item-body p {
  font-size: 22px;
  line-height: 30px;
}

.item.description-item {
  color: #777;
  font-size: 14px;
}

.item[disabled] {
  color: #777;
}

.item[disabled] .icon {
  display: none;
}
