/* Empty. Add your own CSS if you like */

.pane {
  background-color: #f9f1d7;
}

.intro img {
  width: 70%;
  margin: 0 15%;
}

.logo-container h1 {
    text-transform: uppercase;
    height: 60px;
    line-height: 55px;
    font-size: 36px;
    font-weight: bolder;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4D301C;
    text-align:center;
    margin-top:70px;
    margin-bottom: 0px;
}

.intro div.slide {
  padding-top: 80px;
}

.intro h1 {
    line-height: 55px;
    font-size: 36px;
    font-weight: 600;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4D301C;
    text-align:center;
    margin-top:30px;
    margin-bottom: 0px;
}

.intro h3 {
    font-size: 26px;
    font-weight: 600;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4D301C;
    text-align:center;
    margin-top:80px;
    margin-bottom: 0px;
}

div.list-intro {
  margin: 100px 10% 0px;
  width: 80%;
  font-size: 19px;
  font-weight: 200;
  text-align: center;
}

.intro ul {
  margin-top: 30px;
  list-style:disc;
  display: inline-block;
  text-align:left;
}

.intro ul li {
  padding-left:8px;
  list-style:none;
  margin-bottom:12px;
  text-align: center;
  text-indent: -12px;
}

.intro li:before {
	padding-right: 4px;
  content: url("../img/bullet.png");
}

.logo-container p {
    font-size: 16px;
    font-weight: bolder;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4D301C;
    text-align:center;
    margin-top: 0px;
    line-height: normal;
}

.intro p {
    font-size: 20px;
    line-height: 30px;
    font-weight: bolder;
    text-align:center;
    margin-top: 0px;
    margin: 10px 10%;
    width: 80%;
}

.welcome-view .images-row {
    padding: 0;
    height: 70%;
}

.welcome-view .actions-row {
    margin: 0;
    padding: 0;
    height: 30%;
}

.welcome-view .images-row .logo-container {
    margin: 0 auto;
    width: 35vh;
}

.welcome-view .images-row .illustration-container .illustration-image {
    margin: 0 20%;
    width: 60%;
}

.welcome-view .images-row .illustration-container h4 {
    margin: 20px 10%;
    width: 80%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    color: #4D301C;
    text-align:center;
}

.welcome-view .actions-row .get-started-button {
    margin: 40px 9% 10px 9%;
    text-transform: uppercase;
    height: 60px;
    line-height: 55px;
    font-size: 20px;
    border-radius: 30px;
    border-color: transparent;
    background-color: #4D301C;
    color: #FFF;
}

.slider {
  height: 100%;
}

.slider-pager {
  margin-bottom: 60px;
}

.slider-slide {
  color: #000;
  background-color: #f9f1d7;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

.card {
  padding: 0;
  box-shadow:  0 5px 5px -5px rgba(0,0,0,.1);
  border: 1px solid #e9e9e9;
}

.bar-minimal {
  background: transparent;
}

.bar-minimal .button.button-icon:before {
  font-size: 24px;
}

.platform-android .bar-minimal .bar .title {

}

.tabs-striped.tabs-positive .tabs {
    background-color: #856a14;
}

.bar.bar-stable {
    border-color: #f9f1d7;
    background-color: #856a14;
    background-image: none;
    color: #fff;
}

.bar.bar-stable .title {
    color: #fff;
    font-weight: 900;
}

.bar-stable .button {
    border-color: transparent;
    background-color: none;
    color: #fff;
}
.bar-header {
    background: none;
}

.topic-list {
//  background: #f9f9f9;
}

.topic-list .item.item-stable {
  background: #fff;
  border: 0;
}

.card>.item {
  border-bottom: 0;
  border-color: #e9e9e9;
}

.card>.item:first-child {
  background: #fff;
  border: 0;
}

.unit-modal {
  background: #f9f9f9;
}

/* Topic list styles */
.topic-card .item-icon-left {
  padding-left: 49px;
}

.topic-card .item-icon-right {
  padding-right: 49px;
}

.topic-card .item-icon-right .icon {
  right: 0;
}

.topic-card .item-icon-left .icon {
  left: 0;
}

.topic-card .segment-button-right {
  border-left: 1px solid #e9e9e9;
  border-radius: 0;
}
.topic-card .segment-button-right:before {
  font-size: 24px;
}

.topic-card .item[disabled] {
  color: #aaa;
}

.topic-card .item[disabled] .icon {
  display: flex;
}

.icon.unit-icon:before {
  font-size: 24px;
}

.topic-card .item-icon-right .icon.unit-icon {
  right: 5px;
}

.swiper-container {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  position: relative;
}

.swiper-slide .card-container {
  height: 100%;
  padding: 20px 20px;
}

.swiper-slide .card-container .card {
  min-height: 100%;
  margin: 0;
}

.swiper-slide .card-container .card img {
  max-width: 100%;
}

/* this is the card body */
.swiper-slide .item-body, .swiper-slide .item-body p {
  font-size: 22px;
  line-height: 30px;
}

.item.description-item {
  color: #777;
  font-size: 14px;
}

.item[disabled], .item.item-looks-disabled {
  color: #777;
}

.item[disabled] .icon {
  display: none;
}

.popup-vertical-buttons button
{
    min-width: 100%;
    margin-bottom: 5px;
}
.popup-vertical-buttons .popup-buttons
{
    display: block;
}
