@import url('~/platform.css');

.topic-label {
  padding: 20;
  font-size: 24;
}

.unit-label {
  padding: 20;
  font-size: 24;
}

.card {
  border-color: #000;
  border-width: 1;
  vertical-align: stretch;
  horizontal-align: stretch;
}
